---
import Layout from '../layouts/Layout.astro';
import Badge from '../components/Badge.astro';
import LinkedinIcon from '../components/icons/LinkedinIcon.astro';
import GitHubicon from '../components/icons/GitHubIcon.astro';
import SocialPill from '../components/SocialPill.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<section class="w-full lg:w-[740px] mx-auto py-44">
		<h1 class="text-white text-5xl font-bold flex flex-row gap-x-4 pb-4">Hola, soy Rodri 
			<a 
				href="https://linkedin.com/in/rodrigo-reburdo"
				target="_blank"
				rel="noopener"
				class="flex justify-center items-center">
					<Badge>Disponible para trabajar</Badge>
			</a>
		</h1>
		<h2 class="text-2xl opacity-80 text-wrap">
			Terminando la Tecnicatura Universitaria en Programación, una carrera que abarca el desarrollo web en general, aunque me especializo como desarrollador junior frontend. Además de mi carrera, soy un apasionado jugador y profesor de ajedrez, me dedico a transmitir el amor por este juego a todos mis alumnos.
		</h2>

		<nav class="flex gap-x-2">
			<SocialPill href="https://linkedin.com/in/rodrigo-reburdo">
				<LinkedinIcon class="w-6 h-6"/>
				LinkedIn
			</SocialPill>
			<SocialPill href="https://github.com/rodrireburdo">
				<GitHubicon class="w-6 h-6" />
				GitHub
			</SocialPill>
		</nav>
	</section>
	</main>
</Layout>
