---
const personalImageAlt = "Rodrigo Reburdo"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Me llamo Rodrigo Hernan Reburdo. Vivo en la ciudad de <strong>Morteros, C칩rdoba, Argentina 游뷣릖</strong>. Soy estudiante de la <strong>Tecnicatura Universitaria en Programaci칩n en la UTN Faculdad Regional San Francisco</strong>. Con todas las materias cursadas y aprobadas, unicamente me falta realizar la practica prfecional para completar mi formaci칩n.
    </p>

    <p>
      Como <strong>desarrollador</strong>, me gusta aprender nuevas tecnolog칤as y enfrentar desaf칤os. Estoy listo para unirme a un equipo en el que pueda aplicar mis conocimientos y seguir creciendo profesionalmente.
    </p>

    <p>
      En mi tiempo libre, soy un apasionado <strong>jugador y profesor de ajedrez</strong>, me dedico a transmitir el amor por este juego a mis alumnos de todas las edades y niveles, ayud치ndolos a desarrollar habilidades estrat칠gicas y de pensamiento cr칤tico.
    </p>
  </div>

  <img width="200" height="200" src="../assets/mi-foto-completa.jpg" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">
</article>
